/*  your css code here. If applicable */
.tit{
	 padding: 0 2.5em;
}
.testimonial-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.testimonial {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
}

.testimonial-text {
    margin-bottom: 10px;
}

.author {
    text-align: right;
    font-style: italic;
}